

h1 {
	align-content: center;
	background-color: palegreen;
	color: green;
	text-align: center;
	width: 330px;
	height: 70px;
	line-height: 70px;
}

h2 {
	align-content: center;
	background-color: mediumpurple;
	color: purple;
	text-align: center;
	/*width: 100px;*/
	height: 70px;
	line-height: 70px;
}


/*body{
	text-align: center;
	align-content: center;
}*/

/*body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}*/

.dd {
	text-align: center;
	align-content: center;
	background-color: antiquewhite;
	width: 330px;
	height: 400px;
}

.weekdays {
	margin: 0;
	padding: 10px 0;
	background-color: plum;
}

.weekdays li {
	display: inline-block;
	width: 40px;
	color: purple;
	text-align: center;
}

.days {
	margin: 0;
	padding: 10px 0;
	background-color: plum;
	/*width: 40px;*/
}

.days li {
	display: inline-block;
	width: 40px;
	height: 30px;
	color: purple;
	text-align: center;
	line-height: 30px;
}

.lastMonth {
	background-color: pink;
	padding: 1.5px;
}

.nextMonth {
	background-color: pink;
	padding: 1.5px;
}

.used {
	background-color: peachpuff;
	padding: 2px;
}

.active {
	padding: 5px;
	background: palegreen;
	color: green !important
}

.days li:hover {
	/*background-size: 3px;*/
	padding: 5px;
	color: red;
	background: 3px deepskyblue;
}